@use '_reset';
@use 'sass:color';
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// Color palette
$theme-colors-light: (
	white: #fff,
	very-light-gray: #eee,
	light-gray: #ddd,
	light-medium-gray: #ccc,
	border-light: #bbb,
	medium-gray: #aaa,
	border-medium: #999,
	border-dark: #888,
	dark-medium-gray: #777,
	dark-gray: #555,
	darker-gray: #333,
	black: #000,
	bright-green: #0f0,
	selection-bg: #063,
    light-red: #f55,
    lighter-red: #f88,
    link: #00f,
);

$theme-colors-dark: (
	white: #000,
	very-light-gray: #111,
	light-gray: #222,
	light-medium-gray: #333,
	border-light: #444,
	medium-gray: #555,
	border-medium: #666,
	border-dark: #777,
	dark-medium-gray: #888,
	dark-gray: #ccc,
	darker-gray: #ddd,
	black: #fff,
	bright-green: #0f0,
	selection-bg: #0c3,
    light-red: #a11,
    lighter-red: #c33,
    link: #6bf,
);

:root {
	// Loop through the colors and create CSS variables
	@each $color-name, $color-value in $theme-colors-light {
		--#{"" + $color-name}: #{$color-value};
		--#{"" + $color-name + "-rgb"}: #{color.channel($color-value, "red")}, #{color.channel($color-value, "green")}, #{color.channel($color-value, "blue")};
	}

	#convertCont.dark-mode {
        @each $color-name, $color-value in $theme-colors-dark {
            --#{"" + $color-name}: #{$color-value};
            --#{"" + $color-name + "-rgb"}: #{color.channel($color-value, "red")}, #{color.channel($color-value, "green")}, #{color.channel($color-value, "blue")};
		}
	}
}

@function themeColorLight($color) {
	@return map.get($theme-colors-light, $color);
}
@function themeColorDark($color) {
	@return map.get($theme-colors-dark, $color);
}

body {
	margin: 0;
	font-family: 'Source Sans 3', sans-serif;
}

*, *::before, *::after {
    transition: color .2s, background 0.2s, border-color .2s, box-shadow .2s;
}

#root {
    min-height: 100vh;
    box-sizing: border-box;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-weight: 700;
		line-height: 1.2;
	}
}

code {
	font-family: 'JetBrains Mono', monospace;
}

a {
    color: var(--link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#convertCont {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
    color: var(--black);

    background: var(--light-gray);

    height: 100dvh;
    scroll-behavior: auto;

	--br: 16px;

	#header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		#info {
			display: flex;
			flex-direction: row;
			align-items: center;
            justify-content: flex-end;
			gap: 1rem;
            flex: 1 0 auto;
            svg {
                cursor: pointer;
            }

            #siteLogo {
                cursor: default;
                padding: .375rem;
                background-color: themeColorLight(white);
                border-radius: var(--br);
            }
		}
	}

	#footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 0.9rem;
	}

	#infoDialog {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: none;
		outline: none;
        background: var(--white);
        color: var(--black);
		border-radius: var(--br);
		box-shadow: 0 4px 12px rgba(var(--black-rgb), 0.3);
		padding: 1.5rem;
		width: min(90vw, 500px);

		#infoDialogContent {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
			line-height: 1.4;
		}
	}

	.switch-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;

		&:has(input[type='radio']) {
			margin-top: 8px;
		}
	}

	.switchWrap {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
		align-self: flex-start;
		border-radius: var(--br);
		z-index: 0;

		&:has(input[type='radio']) {
			background: var(--dark-gray);
		}
	}

	textarea {
		padding: 4px 6px;
		border-radius: var(--br);
		box-sizing: content-box;
		resize: none;
		outline: none;
		border: 1px solid var(--medium-gray);
		height: 504px;
		display: inline-block;
		font: normal normal normal 16px/20px 'Consolas', monospace;

        color: var(--black);
        background: var(--white);

		&::-webkit-scrollbar {
			display: none;
		}

		&::selection {
			color: var(--white);
			background: var(--selection-bg);
		}

		&::moz-selection {
			color: var(--white);
			background: var(--selection-bg);
		}
	}

	#textarea {
		width: calc(100% - 80px);
		border-left: none;
		border-radius: 0px var(--br) var(--br) 0px;

        &::placeholder {
            font-style: italic;
            color: var(--dark-medium-gray);
        }
	}

	#counter {
		text-align: right;
		position: relative;
		color: var(--medium-gray);
		width: 54px;
		border-right: none;
		margin: auto 0px auto auto;
		float: left;
		border-radius: var(--br) 0px 0px var(--br);
		pointer-events: none;
		user-select: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	input[type='checkbox'],
	input[type='button'],
	input[type='radio'] {
		display: none;

		+ label {
			position: relative;
			display: inline-block;
			bottom: 0px;
			left: 0px;
			height: 32px;
			padding: 6px 10px;

			font-size: 15px;
			font-weight: bold;
			line-height: 0.9;
			color: var(--darker-gray);
			background: var(--light-medium-gray);
			border: 1px solid var(--border-light);
			border-bottom-color: var(--border-medium);
			border-radius: var(--br);

			cursor: pointer;

			box-shadow: 0px 1px 2px hsla(220, 50%, 20%, 0.25);

			will-change: auto;
			transition: inset 0.2s ease, background 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s ease;
			user-select: none;

			&:after {
				content: '';
				position: absolute;
				display: block;
				background: var(--dark-gray);
				border-radius: var(--br);
				z-index: -1;

				will-change: auto;
				transition: background 0.2s, inset 0.2s ease, box-shadow 0.2s ease;
			}
		}
	}

	input[type='checkbox'] {
		+ label {
			cursor: e-resize;
			margin-right: 19px;
			display: inline-flex;
			align-items: center;
			gap: 0.25rem;

			&:after {
				inset: 2px -18px 0px 2px;
			}

			&:hover {
				color: var(--black);
				left: 3px;

				&:after {
					inset: 2px -15px 0px -1px;
				}
			}
		}

		&:checked {
			+ label {
				cursor: w-resize;
				left: 20px;
				background: var(--very-light-gray);
				color: var(--black);
				border-color: var(--border-light);
				border-bottom-color: var(--border-medium);
				border-top-color: var(--white);

				&:after {
					background: var(--bright-green);
					inset: 2px 2px 0px -18px;
					box-shadow: 0 1px 4px -1px var(--bright-green);
				}

				&:hover {
					left: 17px;
					background: var(--light-gray);
					border-color: var(--light-gray);
					border-bottom-color: var(--medium-gray);
					border-top-color: var(--white);

					&:after {
						inset: 2px -1px 0px -15px;
					}
				}
			}
		}
	}

	input[type='radio'] {
		+ label {
			margin-top: 0px;
			top: -8px;
			cursor: s-resize;

			&:after {
				background: var(--dark-medium-gray);
				inset: 0px 0px -7px 0px;
				box-shadow: 0 2px 6px -2px var(--black);
			}

			&:hover {
				top: -6px;

				&:after {
					inset: 0px 0px -5px 0px;
				}
			}

			&:active {
				top: 0px;

				&:after {
					inset: 0px 0px 1px 0px;
					box-shadow: 0 0 2px var(--black);
				}
			}
		}

		&:checked + label {
			cursor: default;
			top: -3px;
			background: var(--very-light-gray);
			color: var(--black);
			border-color: var(--very-light-gray);
			border-bottom-color: var(--medium-gray);
			border-top-color: var(--white);

			&:after {
				inset: 0px 0px -2px 0px;
				background: var(--bright-green);
				box-shadow: 0 1px 4px -1px var(--bright-green);
			}
		}

		&:disabled + label {
			pointer-events: none;
		}
	}

	input[type='button'] {
		+ label {
			display: inline-flex;
			align-items: center;
			gap: 0.25rem;
			margin-right: 2px;
			top: 0px;
			background-color: var(--very-light-gray);
			border-color: var(--white);
			border-bottom-color: var(--medium-gray);
			color: var(--black);
			vertical-align: bottom;

			&:after {
				box-shadow: 0px 1px 2px -1px #0005;
				inset: -1px;
			}
		}

		&:not([disabled]) {
			+ label {
				&:hover {
					top: -4px;

					&:after {
						inset: -1px -1px -5px -1px;
						box-shadow: 0px 1px 4px -1px #000a;
					}
				}

				&:active {
					top: 2px;

					&:after {
						inset: 0px -1px 1px -1px;
						box-shadow: 0px 0px 2px -1px #0003;
					}
				}
			}
		}

		&[disabled] + label {
			cursor: not-allowed;
			background: var(--medium-gray);
			border-color: var(--light-medium-gray);
			border-bottom-color: var(--border-dark);
			color: var(--darker-gray);
			box-shadow: none;
		}

        &#qaRemove + label {
            background: var(--light-red);
            border: 1px solid var(--lighter-red);
            border-bottom-color: var(--light-red);
            color: var(--black);
        }
	}

	#auto:checked + label + #go + label {
		pointer-events: none;
		background: var(--border-medium);
		border-color: var(--border-medium);
		border-bottom-color: var(--border-dark);
		color: var(--darker-gray);
	}

	#auto + label + #go + label {
		pointer-events: auto;
	}

	#resetBtn + label {
		float: right;
	}

	.fa-cog {
		font-size: 18px;
	}
}

#txtCont {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	margin: 0.5rem 0 0;
	padding: 0;
	outline: none;
	border: none;
	height: auto;
	white-space: nowrap;
	border-radius: 5px;
	box-shadow: 0 0 0 0 var(--bright-green);
	transition: box-shadow 0.2s ease;

	&.autoOn {
		box-shadow: 0 0 0 3px var(--bright-green);
	}
}

.noWrap {
	white-space: nowrap;
}
